<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <title>快速导航</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <!-- https://image-70559.picnjc.qpic.cn/albumpic/42ef97395601262f7adfba5353cc6cd0.jpeg -->
  <div id="app" class="app">
  </div>
</body>

<link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/element-plus"></script>
<script>
  const { createApp, defineComponent, ref } = Vue
  const Item = defineComponent({
    props: ['data'],
    setup(props) {
      const { name, href, img, fn } = props.data;
      const onClick = () => {
        if (fn) fn();
        else window.location.href = href;
      };
      return {
        name,
        href,
        img,
        onClick,
      };
    },
    template: `
      <div class="box-item" @click="onClick">
        <div class="box-item-pic">
          <img :src="data.img" >
        </div>
        <div class="box-item-name">{{data.name}}</div>
      </div>
    `,
  });

  const Search = defineComponent({
    name: 'Search',
    components: {
      'el-input': ElementPlus.ElInput,
      'el-button': ElementPlus.ElButton,
    },
    setup() {
      const searchData = ref('');
      const onSearch = () => {
        window.location.href = `https://www.baidu.com/s?word=${searchData.value}`;
      };
      return {
        searchData,
        onSearch,
      };
    },
    template: `
      <el-input
        v-model="searchData"
        placeholder="极速搜索"
        size="large"
        @keydown.enter="onSearch"
        style="margin-top: 30px;"
      >
        <template #append>
          <el-button type="primary" @click="onSearch">搜索</el-button>
        </template>
      </el-input>
    `,
  });
  
  const xywy = () => {
    ElementPlus.ElMessageBox.alert(
      `
        <h2 style="text-align: center;">微信识别</h2>
        <img style="display: block; margin: auto;" src="./assets/xywy-qrcode.jpg" alt="">
        <div style="text-align: center;">
          罗列北京市医保定点医院，方便快速查找定点医院
        </div>
      `,
      '寻医问院',
      { dangerouslyUseHTMLString: true },
    );
  };
  

  
  createApp({
    components: { Search, Item },
    data() {
      return {
        projectList: [
          { name: '运算系统', href: '/parental-tools', img: './assets/js.png' },
          { name: '博客', href: '/blog', img: './assets/blog.png' },
          { name: 'github', href: 'https://www.github.com/nwjf', img: './assets/github.png' },
          { name: '寻医问院', href: '', img: './assets/xywy.png', fn: xywy },
          { name: 'adminX DEMO', href: '/adminX', img: './assets/adminx.png' },
          { name: 'adminX 文档', href: 'https://github.com/nwjf/adminX', img: './assets/adminx.png' },
        ],
      }
    },
    template: `
      <div class="home-warp">
        
        <div class="home-bg">
          <img src="https://image-70559.picnjc.qpic.cn/albumpic/42ef97395601262f7adfba5353cc6cd0.jpeg" alt="">
        </div>
        <div class="home-content">
          <div class="home-title">极速导航，从这里开始！</div>
          <div class="home-msg">捐躯赴国难，视死忽如归。——曹植《白马篇》</div>

          <Search />

          <div class="box">
            <div class="box-title">智能系统</div>
            <div class="box-warp">
              <Item v-for="(item, index) in projectList" :key="index" :data="item" />
            </div>
          </div>
        </div>
      </div>
    `,
  }).mount('#app');

</script>

</html>