<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <title>快速导航</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <!-- https://image-70559.picnjc.qpic.cn/albumpic/42ef97395601262f7adfba5353cc6cd0.jpeg -->
  <div id="app" class="app">
  </div>
</body>

<link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/element-plus"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const { createApp, defineComponent, ref, reactive } = Vue
  const Item = defineComponent({
    props: ['data'],
    setup(props) {
      const { name, href, img, fn } = props.data;
      const onClick = () => {
        if (fn) fn();
        else window.location.href = href;
      };
      return {
        name,
        href,
        img,
        onClick,
      };
    },
    template: `
      <div class="box-item" @click="onClick">
        <div class="box-item-pic">
          <img :src="data.img" >
        </div>
        <div class="box-item-name">{{data.name}}</div>
      </div>
    `,
  });

  const Search = defineComponent({
    name: 'Search',
    components: {
      'el-input': ElementPlus.ElInput,
      'el-button': ElementPlus.ElButton,
    },
    setup() {
      const searchData = ref('');
      const onSearch = () => {
        window.location.href = `https://www.baidu.com/s?word=${searchData.value}`;
      };
      return {
        searchData,
        onSearch,
      };
    },
    template: `
      <el-input
        v-model="searchData"
        placeholder="极速搜索"
        size="large"
        @keydown.enter="onSearch"
        style="margin-top: 30px;"
      >
        <template #append>
          <el-button type="primary" @click="onSearch">搜索</el-button>
        </template>
      </el-input>
    `,
  });
  
  const StepNum = defineComponent({
    name: 'StepNum',
    components: {
      'el-form': ElementPlus.ElForm,
      'el-form-item': ElementPlus.ElFormItem,
      'el-input': ElementPlus.ElInput,
      'el-button': ElementPlus.ElButton,
    },
    setup() {
      const formData = reactive({
        mobile: '',
        password: '',
        step: '',
      });
      const rules = {
        mobile: { required: true, message: '请输入账号' },
        password: { required: true, message: '请输入密码' },
        step: { required: true, message: '请输入步数' },
      };
      const formRef = ref(null);
      const onSubmit = (formRef) => {
        formRef.validate(valid => {
          if (!valid) return false;
          axios({
            url: 'https://api.kit9.cn/api/xiaomi_sports/api.php',
            method: 'post',
            headers: {
              'content-type': 'application/x-www-form-urlencoded',
            },
            data: {
              ...formData,
            }
          })
            .then(res => {
              console.log('res', res);
              if (res.data.code === 200) {
                ElementPlus.ElMessage.success('成功');
              }
              else {
                ElementPlus.ElMessage.error(res.data.data || '失败');
              }
            })
        });
      };
      return {
        formRef,
        formData,
        rules,
        onSubmit,
      };
    },
    template: `
      <el-form ref="formRef" label-width="110" :model="formData" :rules="rules">
        <el-form-item label="小米运动账号" prop="mobile">
          <el-input placeholder="请输入小米账号" style="width: 100%; max-width: 500px;" v-model="formData.mobile" />
        </el-form-item>
        <el-form-item label="小米运动密码" prop="password">
          <el-input placeholder="请输入小米账号" style="width: 100%; max-width: 500px;" v-model="formData.password" />
        </el-form-item>
        <el-form-item label="步数" prop="step">
          <el-input placeholder="请输入小米账号" style="width: 100%; max-width: 500px;" v-model="formData.step" />
        </el-form-item>
        <el-form-item>
          <el-button style="width: 100px;" @click="onSubmit(formRef)">刷步</el-button>
        </el-form-item>
      </el-form>
    `,
  });
  const xywy = () => {
    ElementPlus.ElMessageBox.alert(
      `
        <h2 style="text-align: center;">微信识别</h2>
        <img style="display: block; margin: auto;" src="./assets/xywy-qrcode.jpg" alt="">
        <div style="text-align: center;">
          罗列北京市医保定点医院，方便快速查找定点医院
        </div>
      `,
      '寻医问院',
      { dangerouslyUseHTMLString: true },
    );
  };
  

  
  createApp({
    components: { StepNum, Search, Item },
    data() {
      return {
        projectList: [
          { name: '运算系统', href: '/parental-tools', img: './assets/js.png' },
          { name: '博客', href: '/blog', img: './assets/blog.png' },
          { name: 'github', href: 'https://www.github.com/nwjf', img: './assets/github.png' },
          { name: '寻医问院', href: '', img: './assets/xywy.png', fn: xywy },
          { name: 'adminX DEMO', href: '/adminX', img: './assets/adminx.png' },
          { name: 'adminX 文档', href: 'https://github.com/nwjf/adminX', img: './assets/adminx.png' },
        ],
      }
    },
    template: `
      <div class="home-warp">
        
        <div class="home-bg">
          <img src="https://image-70559.picnjc.qpic.cn/albumpic/42ef97395601262f7adfba5353cc6cd0.jpeg" alt="">
        </div>
        <div class="home-content">
          <div class="home-title">极速导航，从这里开始！</div>
          <div class="home-msg">捐躯赴国难，视死忽如归。——曹植《白马篇》</div>

          <Search />

          <div class="box">
            <div class="box-title">智能系统</div>
            <div class="box-warp">
              <Item v-for="(item, index) in projectList" :key="index" :data="item" />
            </div>
          </div>

          <div class="box">
            <div class="box-title">极速刷步</div>
            <div class="box-warp"><StepNum /></div>
          </div>
        </div>
      </div>
    `,
  }).mount('#app');

</script>

</html>